<div class="text-teal-200">
    <section class="text-white">
        <h1 class="text-3xl flex items-center justify-center mt-5">Stylizacja tekstów</h1> 
     </section>

     <section class="w-full flex items-center justify-center text-white">
        <div class="border border-orange-700 mt-10 w-3/5 flex items-center justify-center p-4 bg-slate-800 rounded">
            <ul>
                <li> 
                    <span class="text-2xl text-teal-200 flex items-center justify-center">Font Style</span> 
                    <ol class="mt-4">
                        <li>class="italic"</li>
                        <li class="italic">The quick brown fox ...</li>
                    </ol>
                    <ol class="mt-4">
                        <li>class="not-italic"</li>
                        <li class="not-italic">The quick brown fox ...</li>
                    </ol>
                </li>
            </ul>
        </div>
    </section>

    <section class="w-full flex items-center justify-center text-white">
        <div class="border border-orange-700 mt-10 w-3/5 flex items-center justify-center p-4 bg-slate-800 rounded">
            <ul>
                <li> 
                    <span class="text-2xl text-teal-200 flex items-center justify-center">Font Family</span> 
                    <ol class="mt-4">
                        <li>class="font-sans"</li>
                        <li class="font-sans">The quick brown fox ...</li>
                    </ol>
                    <ol class="mt-4">
                        <li>class="font-serif"</li>
                        <li class="font-serif">The quick brown fox ...</li>
                    </ol>
                    <ol class="mt-4">
                        <li>class="font-mono"</li>
                        <li class="font-mono">The quick brown fox ...</li>
                    </ol>
                </li>
            </ul>
        </div>
    </section>

    <section class="w-full flex flex-col items-center justify-center text-white">
        <div class="border border-orange-700 flex items-center justify-center p-4 bg-slate-800 rounded mt-10 w-3/5">
            <div>
                <ul>
                 <li> 
                     <span class="text-2xl text-teal-200">Font Size</span> 
                     <ol class="mt-4">
                         <li>class="text-sm"</li>
                         <li class="text-sm">The quick brown fox ...</li>
                     </ol>
                     <ol class="mt-4">
                         <li>class="text-base"</li>
                         <li class="text-base">The quick brown fox ...</li>
                     </ol>
                     <ol class="mt-4">
                         <li>class="text-lg"</li>
                         <li class="text-lg">The quick brown fox ...</li>
                     </ol>
                     <ol class="mt-4">
                         <li>class="text-xl"</li>
                         <li class="text-xl">The quick brown fox ...</li>
                     </ol>
                     <ol class="mt-4">
                         <li>class="text-2xl"</li>
                         <li class="text-2xl">The quick brown fox ...</li>
                     </ol>
                 </li>
                </ul>
             </div>
     
             <div>
                 <table class="table-auto border border-orange-700 p-3">
                     <thead class="border border-orange-700 p-3">
                       <tr class="border border-orange-700 p-3">
                         <th class="border border-orange-700 p-3">Klasa</th>
                         <th class="border border-orange-700 p-3">Wartość [rem]</th>
                         <th class="border border-orange-700 p-3">Wartość [px]</th>
                       </tr>
                     </thead>
                     <tbody class="border border-orange-700 p-3">
                       <tr>
                         <td class="border border-orange-700 p-3">text-xs</td>
                         <td class="border border-orange-700 p-3">0.75rem</td>
                         <td class="border border-orange-700 p-3">12px</td>
                       </tr>
                       <tr>
                         <td class="border border-orange-700 p-3">text-sm</td>
                         <td class="border border-orange-700 p-3">0.875rem</td>
                         <td class="border border-orange-700 p-3">14px</td>
                       </tr>
                       <tr>
                         <td class="border border-orange-700 p-3">text-base</td>
                         <td class="border border-orange-700 p-3">1rem</td>
                         <td class="border border-orange-700 p-3">16px</td>
                       </tr>
                       <tr>
                         <td class="border border-orange-700 p-3">text-lg</td>
                         <td class="border border-orange-700 p-3">1.125rem</td>
                         <td class="border border-orange-700 p-3">18px</td>
                       </tr>
                       <tr>
                         <td class="border border-orange-700 p-3">text-xl</td>
                         <td class="border border-orange-700 p-3">1.25rem</td>
                         <td class="border border-orange-700 p-3">20px</td>
                       </tr>
                       <tr>
                         <td class="border border-orange-700 p-3">text-2xl</td>
                         <td class="border border-orange-700 p-3">1.5rem</td>
                         <td class="border border-orange-700 p-3">24px</td>
                       </tr>
                       <tr>
                         <td class="border border-orange-700 p-3">text-3xl</td>
                         <td class="border border-orange-700 p-3">1.875rem</td>
                         <td class="border border-orange-700 p-3">30px</td>
                       </tr>
                       <tr>
                         <td class="border border-orange-700 p-3">text-4xl</td>
                         <td class="border border-orange-700 p-3">2.25rem</td>
                         <td class="border border-orange-700 p-3">36px</td>
                       </tr>
                       <tr>
                         <td class="border border-orange-700 p-3">text-5xl</td>
                         <td class="border border-orange-700 p-3">3rem</td>
                         <td class="border border-orange-700 p-3">48px</td>
                       </tr>
                       <tr>
                         <td class="border border-orange-700 p-3">text-6xl</td>
                         <td class="border border-orange-700 p-3">3.75rem</td>
                         <td class="border border-orange-700 p-3">70px</td>
                       </tr>
                       <tr>
                         <td class="border border-orange-700 p-3">text-7xl</td>
                         <td class="border border-orange-700 p-3">4.5rem</td>
                         <td class="border border-orange-700 p-3">72px</td>
                       </tr>
                       <tr>
                         <td class="border border-orange-700 p-3">text-8xl</td>
                         <td class="border border-orange-700 p-3">6rem</td>
                         <td class="border border-orange-700 p-3">96
                             px</td>
                       </tr>
                       <tr>
                         <td class="border border-orange-700 p-3">text-9xl</td>
                         <td class="border border-orange-700 p-3">8rem</td>
                         <td class="border border-orange-700 p-3">128px</td>
                       </tr>
                     </tbody>
                   </table>
             </div>
        </div>
    </section>

    <section class="w-full flex items-center justify-center text-white">
        <div class="border border-orange-700 mt-10 w-3/5 flex items-center justify-center p-4 bg-slate-800 rounded">
           <ul>
            <li> 
                <span class="text-2xl text-teal-200">Text Decoration Style</span> 
                <ol class="mt-4">
                    <li>class="underline decoration-solid decoration-red-500"</li>
                    <li class="underline decoration-solid decoration-red-500">The quick brown fox... with color</li>
                </ol>
                <ol class="mt-4">
                    <li>class="underline decoration-solid decoration-4"</li>
                    <li class="underline decoration-solid decoration-4">The quick brown fox... with thickness</li>
                </ol>
                <ol class="mt-4">
                    <li>class="underline decoration-solid"</li>
                    <li class="underline decoration-solid">The quick brown fox...</li>
                </ol>
                <ol class="mt-4">
                    <li>class="underline decoration-double"</li>
                    <li class="underline decoration-double">The quick brown fox...</li>
                </ol>
                <ol class="mt-4">
                    <li>class="underline decoration-dotted"</li>
                    <li class="underline decoration-dotted">The quick brown fox...</li>
                </ol>
                <ol class="mt-4">
                    <li>class="underline decoration-dashed"</li>
                    <li class="underline decoration-dashed">The quick brown fox...</li>
                </ol>
                <ol class="mt-4">
                    <li>class="underline decoration-wavy"</li>
                    <li class="underline decoration-wavy">The quick brown fox...</li>
                </ol>
            </li>
           </ul>
        </div>
    </section>

    <section class="w-full flex items-center justify-center text-white">
        <div class="border border-orange-700 mt-10 w-3/5 flex items-center justify-center p-4 bg-slate-800 rounded">
           <ul>
            <li> 
                <span class="text-2xl">Font Weight</span> 
                <ol class="mt-4">
                    <li>class="font-thin"</li>
                    <li class="font-thin">The quick brown fox...</li>
                </ol>
                <ol class="mt-4">
                    <li>class="font-extralight"</li>
                    <li class="font-extralight">The quick brown fox...</li>
                </ol>
                <ol class="mt-4">
                    <li>class="font-light"</li>
                    <li class="font-light">The quick brown fox...</li>
                </ol>
                <ol class="mt-4">
                    <li>class="font-normal"</li>
                    <li class="font-normal">The quick brown fox...</li>
                </ol>
                <ol class="mt-4">
                    <li>class="font-medium"</li>
                    <li class="font-medium">The quick brown fox...</li>
                </ol>
                <ol class="mt-4">
                    <li>class="font-semibold"</li>
                    <li class="font-semibold">The quick brown fox...</li>
                </ol>
                <ol class="mt-4">
                    <li>class="font-bold"</li>
                    <li class="font-bold">The quick brown fox...</li>
                </ol>
                <ol class="mt-4">
                    <li>class="font-extrabold"</li>
                    <li class="font-extrabold">The quick brown fox...</li>
                </ol>
                <ol class="mt-4">
                    <li>class="font-black"</li>
                    <li class="font-black">The quick brown fox...</li>
                </ol>
            </li>
           </ul>
        </div>
    </section>

    <section class="w-full flex items-center justify-center text-white mb-5">
        <div class="border border-orange-700 mt-10 w-3/5 flex items-center justify-center p-4 bg-slate-800 rounded">
           <ul>
            <li> 
                <span class="text-2xl">Font - dodatki</span> 
                <ol class="mt-4">
                    <li>class="text-red-700"</li>
                    <li class="text-red-700">The quick brown fox...</li>
                </ol>
                <ol class="mt-4">
                    <li>class="normal-case"</li>
                    <li class="normal-cas">The quick brown fox...</li>
                </ol>
                <ol class="mt-4">
                    <li>class="normal-case"</li>
                    <li class="normal-cas">The quick brown fox...</li>
                </ol>
                <ol class="mt-4">
                    <li>class="uppercase"</li>
                    <li class="uppercase">The quick brown fox...</li>
                </ol>
                <ol class="mt-4">
                    <li>class="lowercase"</li>
                    <li class="lowercase">The quick brown fox...</li>
                </ol>
                <ol class="mt-4">
                    <li>class="capitalize"</li>
                    <li class="capitalize">The quick brown fox...</li>
                </ol>
                <ol class="mt-4">
                    <li>class="indent-8"</li>
                    <li class="indent-8">
                        Jakiś tekst z wcięciem.
                    </li>
                </ol>
            </li>
           </ul>
        </div>
    </section>
</div>