<div class="text-teal-200">
    <section class="text-white">
        <h1 class="text-3xl flex items-center justify-center mt-5">Cieniowanie</h1> 
     </section>

     <section class="w-full flex items-center justify-center text-white">
        <div class="border border-orange-700 mt-10 w-3/5 flex items-center justify-center p-4 bg-slate-800 rounded">
            <ul>
                <li> 
                    <ul class="mt-4">
                        <li>class="bg-cyan-500 shadow-lg shadow-cyan-500/50"</li>
                        <li><button class="bg-cyan-500 shadow-lg shadow-cyan-500/50">Subscribe</button></li>
                    </ul>
                </li>
                <li> 
                    <ul class="mt-4">
                        <li>class="bg-cyan-500 shadow-lg shadow-violet-700"</li>
                        <li><button class="bg-cyan-500 shadow-lg shadow-violet-700">Subscribe</button></li>
                    </ul>
                </li>
                <li> 
            </ul>
        </div>
    </section>
</div>