<section class="text-white">
    <h1 class="text-3xl flex items-center justify-center mt-5">Zaokrąglanie</h1> 
    <h5 class="text-3m flex items-center justify-center mt-1">
        <a 
             href="https://tailwind.build/classes/borders/rounded+%25_F+.rounded-*" 
             target=_blank
             class="hover:text-teal-500">
             Dane zaczerpniete ze strony
         </a>
     </h5>
 </section>
 
 <section class="w-full flex items-center justify-center text-white mb-5">
     <div class="border border-orange-700 mt-10 w-3/5 flex items-center justify-center p-4 bg-slate-800 rounded">
        <ul>
         <li>
             <ol class="mt-4">
                 <li>class="rounded-full"</li>
                 <li><div class="rounded-full h-16 w-16 flex bg-teal-400 m-2"></div></li>
             </ol>
             <ol class="mt-4">
                 <li>class="rounded"</li>
                 <li><div class="rounded h-16 w-16 flex bg-teal-400 m-2"></div></li>
             </ol>
             <ol class="mt-4">
                 <li>class="rounded-bl-lg"</li>
                 <li><div class="rounded-bl-lg h-16 w-24 flex bg-teal-400 m-2"></div></li>
             </ol>
             <ol class="mt-4">
                 <li>class="rounded-b-full"</li>
                 <li><div class="rounded-b-full  h-16 w-24 flex bg-teal-400 m-2"></div></li>
             </ol>
             <ol class="mt-4">
                 <li>class="rounded-t-full"</li>
                 <li><div class="rounded-t-full  h-16 w-24 flex bg-teal-400 m-2"></div></li>
             </ol>
             <ol class="mt-4">
                 <li>class="rounded-r-full"</li>
                 <li><div class="rounded-r-full  h-16 w-24 flex bg-teal-400 m-2"></div></li>
             </ol>
             <ol class="mt-4">
                 <li>class="rounded-l-full"</li>
                 <li><div class="rounded-l-full  h-16 w-24 flex bg-teal-400 m-2"></div></li>
             </ol>
         </li>
        </ul>
     </div>
 </section>