<section class="text-white">
   <h1 class="text-3xl flex items-center justify-center mt-5">Instalacja Tailwind CSS (Angular)</h1> 
   <h5 class="text-3m flex items-center justify-center mt-1">
       <a 
            href="https://www.amadousall.com/how-to-add-tailwind-css-to-your-angular-application/" 
            target=_blank
            class="hover:text-teal-500">
            Dane zaczerpniete ze strony
        </a>
    </h5>
</section>

<section class="w-full flex items-center justify-center text-white">
    <div class="border border-orange-700 mt-10 w-3/5 flex items-center justify-center p-4 bg-slate-800 rounded">
       <ul>
        <li> 
            <span class="text-2xl">1. Instalacja potrzebnych paczek:</span> 
            <ol class="mt-4">
                <li>npm install postcss --save-dev</li>
                <li>npm install tailwindcss</li>
            </ol>
        </li>
       </ul>
    </div>
</section>

<section class="w-full flex items-center justify-center text-white">
    <div class="border border-orange-700 mt-10 w-3/5 flex items-center justify-center p-4 bg-slate-800 rounded">
        <ul>
            <span class="text-2xl"> 2. Tworzenie pliku<span class="text-teal-200"> tailwind.config.js</span></span>
            <li class="mt-4">npx tailwind init</li>
        </ul>
    </div>
</section>

<section class="w-full flex items-center justify-center text-white">
    <div class="border border-orange-700 mt-10 w-3/5 flex items-center justify-center p-4 bg-slate-800 rounded">
        <ul>
            <span class="text-2xl"> 3. Uzupełnienie pliku <span class="text-teal-200"> tailwind.config.js</span></span>
            <li class="mt-4">
                <pre><code>
                    <![CDATA[
                    module.exports = {
                        content: ['./src/**/*.{html,ts}', './projects/**/*.{html,ts}'],
                        theme: {
                          extend: {},
                        },
                        plugins: [],
                    };
                    ]]>
                    </code></pre>
            </li>
        </ul>
    </div>
</section>

<section class="w-full flex items-center justify-center mb-5 text-white">
    <div class="border border-orange-700 mt-10 w-3/5 flex items-center justify-center p-4 bg-slate-800 rounded">
        <ul>
            <span class="text-2xl"> 4. Dodanie tailwindowych klas CSS do pliku <span class="text-teal-200"> src/style.css</span></span>
            <li class="mt-4 flex items-center justify-center">@tailwind base;</li>
            <li class="flex items-center justify-center">@tailwind components;</li>
            <li class="flex items-center justify-center">@tailwind utilities;</li>
        </ul>
    </div>
</section>