<div class="text-slate-200">
    <section>
        <h1 class="text-3xl flex items-center justify-center mt-5">Rozmieszczenie komponentów</h1> 
     </section>
     
     <section class="w-full flex items-center justify-center">
         <div class="border border-orange-700 mt-10 w-3/5 p-4 bg-slate-800 rounded">
            <ul>
             <li> 
                 <span class="text-2xl flex items-center justify-center">Justify Content</span> 
                 <ol class="mt-4">
                     <li>
                         <div class="m-2 p-2 flex flex-col justify-start">
                            <span class="flex flex-row justify-start">Start</span>
                            <div class="flex flex-row justify-start">
                                <div class="p-2 m-2 bg-green-500">01</div>
                                <div class="p-2 m-2 bg-green-500">02</div>
                                <div class="p-2 m-2 bg-green-500">03</div>
                            </div>
                         </div>
                     </li>
                     <li class="mt-3">
                        <div class="m-2 p-2 flex flex-col justify-center">
                            <span class="flex flex-row justify-center">Center</span>
                           <div class="flex flex-row justify-center">
                               <div class="p-2 m-2 bg-green-500">01</div>
                               <div class="p-2 m-2 bg-green-500">02</div>
                               <div class="p-2 m-2 bg-green-500">03</div>
                           </div>
                        </div>
                    </li>
                    <li class="mt-3">
                        <div class="m-2 p-2 flex flex-col justify-end">
                            <span class="flex flex-row justify-end">End</span>
                           <div class="flex flex-row justify-end">
                               <div class="p-2 m-2 bg-green-500">01</div>
                               <div class="p-2 m-2 bg-green-500">02</div>
                               <div class="p-2 m-2 bg-green-500">03</div>
                           </div>
                        </div>
                    </li>
                    <li class="mt-4">
                        <div class="m-2 p-2 flex flex-col justify-between">
                            <span class="flex flex-row justify-between">Pomiędzy</span>
                           <div class="flex flex-row justify-between">
                               <div class="p-2 m-2 bg-green-500">01</div>
                               <div class="p-2 m-2 bg-green-500">02</div>
                               <div class="p-2 m-2 bg-green-500">03</div>
                           </div>
                        </div>
                    </li>
                    <li class="mt-12">
                        <div class="m-2 p-2 flex flex-col justify-around">
                            <span class="flex flex-row justify-around">Przerwy</span>
                           <div class="flex flex-row justify-around">
                               <div class="p-2 m-2 bg-green-500">01</div>
                               <div class="p-2 m-2 bg-green-500">02</div>
                               <div class="p-2 m-2 bg-green-500">03</div>
                           </div>
                        </div>
                    </li>
                 </ol>
             </li>
            </ul>
         </div>
     </section>

     <section class="w-full flex items-center justify-center">
        <div class="border border-orange-700 mt-10 w-3/5 p-4 bg-slate-800 rounded">
           <ul>
            <li> 
                <span class="text-2xl flex items-center justify-center">Align Content</span> 
                <ol class="mt-4">
                    <li>
                        <div class="m-2 p-2 content-start">
                           <div class="h-20 grid grid-cols-4 gap-4 content-start">
                               <div>Stretch</div>
                               <div class="p-2 m-2 bg-green-500">01</div>
                               <div class="p-2 m-2 bg-green-500">02</div>
                               <div class="p-2 m-2 bg-green-500">03</div>
                           </div>
                        </div>
                    </li>
                   <li class="mt-3">
                       <div class="m-2 p-2 flex flex-col items-center">
                          <div class="h-20 grid grid-cols-4 gap-4 content-center">
                              <div>Center</div>
                              <div class="p-2 m-2 bg-green-500">01</div>
                              <div class="p-2 m-2 bg-green-500">02</div>
                              <div class="p-2 m-2 bg-green-500">03</div>
                          </div>
                       </div>
                   </li>
                   <li class="mt-4">
                       <div class="m-2 p-2 flex flex-col items-end">
                          <div class="h-20 grid grid-cols-4 gap-4 content-end">
                              <div>End</div>
                              <div class="p-2 m-2 bg-green-500">01</div>
                              <div class="p-2 m-2 bg-green-500">02</div>
                              <div class="p-2 m-2 bg-green-500">03</div>
                          </div>
                       </div>
                   </li>
                   <li class="mt-12">
                       <div class="m-2 p-2 flex flex-col items-baseline">
                          <div class="h-20 grid grid-cols-4 gap-4 content-between">
                              <div>Pomiędzy</div>
                              <div class="p-2 m-2 bg-green-500">01</div>
                              <div class="p-2 m-2 bg-green-500">02</div>
                              <div class="p-2 m-2 bg-green-500">03</div>
                          </div>
                       </div>
                   </li>
                </ol>
            </li>
           </ul>
        </div>
    </section>

     <section class="w-full flex items-center justify-center mb-5">
        <div class="border border-orange-700 mt-10 w-3/5 p-4 bg-slate-800 rounded">
           <ul>
            <li> 
                <span class="text-2xl flex items-center justify-center">Align Self</span> 
                <ol class="mt-4">
                    <li>
                        <div class="h-20 grid grid-cols-4 gap-4 items-stretch">
                           <div class="h-20 grid grid-cols-4 gap-4 items-stretch">
                            <div>Stretch</div>
                               <div class="p-7 m-2 bg-green-500">01</div>
                               <div class="p-7 m-2 bg-green-500">02</div>
                               <div class="p-7 m-2 bg-green-500">03</div>
                           </div>
                        </div>
                    </li>
                    <li class="mt-3">
                       <div class="m-2 p-2 flex flex-col items-start">
                           <span class="flex flex-row items-start">Start</span>
                          <div class="flex flex-row items-start">
                              <div class="p-2 m-2 bg-green-500">01</div>
                              <div class="p-2 m-2 bg-green-500">02</div>
                              <div class="p-2 m-2 bg-green-500">03</div>
                          </div>
                       </div>
                   </li>
                   <li class="mt-3">
                       <div class="m-2 p-2 flex flex-col items-center">
                           <span class="flex flex-row items-center">Center</span>
                          <div class="flex flex-row items-center">
                              <div class="p-2 m-2 bg-green-500">01</div>
                              <div class="p-2 m-2 bg-green-500">02</div>
                              <div class="p-2 m-2 bg-green-500">03</div>
                          </div>
                       </div>
                   </li>
                   <li class="mt-4">
                       <div class="m-2 p-2 flex flex-col items-end">
                           <span class="flex flex-row items-end">End</span>
                          <div class="flex flex-row items-end">
                              <div class="p-2 m-2 bg-green-500">01</div>
                              <div class="p-2 m-2 bg-green-500">02</div>
                              <div class="p-2 m-2 bg-green-500">03</div>
                          </div>
                       </div>
                   </li>
                   <li class="mt-12">
                       <div class="m-2 p-2 flex flex-col items-baseline">
                           <span class="flex flex-row items-baseline">Baseline</span>
                          <div class="flex flex-row items-baseline">
                              <div class="p-2 m-2 bg-green-500">01</div>
                              <div class="p-2 m-2 bg-green-500">02</div>
                              <div class="p-2 m-2 bg-green-500">03</div>
                          </div>
                       </div>
                   </li>
                </ol>
            </li>
           </ul>
        </div>
    </section>
</div>