<div class="text-teal-200">
    <section class="text-white">
        <h1 class="text-3xl flex items-center justify-center mt-5">Listy</h1> 
     </section>

     <section class="w-full flex items-center justify-center text-white">
        <div class="border border-orange-700 mt-10 w-3/5 flex items-center justify-center p-4 bg-slate-800 rounded">
            <ul>
                <li> 
                    <ul class="mt-4 list-disc">
                        <li>kropki</li>
                        <li class="italic">The quick brown fox ...</li>
                    </ul>
                </li>
                <li> 
                    <ul class="mt-4 list-decimal">
                        <li>Liczby</li>
                        <li class="italic">The quick brown fox ...</li>
                    </ul>
                </li>
                <li> 
                    <ul class="mt-4 list-none">
                        <li>Nic</li>
                        <li class="italic">The quick brown fox ...</li>
                    </ul>
                </li>
            </ul>
        </div>
    </section>
</div>