<section class="text-slate-200">
    <h1 class="text-3xl flex items-center justify-center mt-5">Gradient kolorów</h1> 
    <h5 class="text-3m flex items-center justify-center mt-1">
        <a 
             href="https://tailwindcss.com/docs/gradient-color-stops" 
             target=_blank
             class="hover:text-teal-500">
             Dane zaczerpniete ze strony
         </a>
     </h5>
    <h5 class="text-3m flex items-center justify-center mt-1">
        <a 
             href="https://tailwind-gradient-generator.vercel.app/gradient?colors=purple-400,blue-600,teal-400&direction=T" 
             target=_blank
             class="hover:text-teal-500">
             Generator grdientów
         </a>
     </h5>
</section>

<section class="w-full flex items-center justify-center text-slate-200">
    <div class="border border-orange-700 mt-10 w-3/5 p-4 bg-slate-800 rounded">
        <h1>Aby gradient zawsze obejmował cały ekran, niezależnie od skrolowania, należy zablokować możliwość powtarzania:</h1>
        <h1 class="flex items-center justify-center">class="bg-no-repeat"</h1>
    </div>
</section>

<section class="w-full flex items-center justify-center text-slate-200">
    <div class="border border-orange-700 mt-10 w-3/5 p-4 bg-slate-800 rounded">
      <h1 class="flex items-center justify-center text-2xl">Gradient od prawego dolnego rogu do lewego górnego ↖️</h1>
      <h3 class="mt-4">class="bg-gradient-to-tl from-purple-400 via-blue-600 to-teal-400"</h3>
      <div class="mt-3 w-75 h-20 bg-gradient-to-tl from-purple-400 via-blue-600 to-teal-400"></div>
    </div>
</section>

<section class="w-full flex items-center justify-center text-slate-200">
    <div class="border border-orange-700 mt-10 w-3/5 p-4 bg-slate-800 rounded">
      <h1 class="flex items-center justify-center text-2xl">Gradient od lewego dolnego rogu do górnego prawego ↗️</h1>
      <h3 class="mt-4">class="bg-gradient-to-tr from-purple-400 via-blue-600 to-teal-400"</h3>
      <div class="mt-3 w-75 h-20 bg-gradient-to-tr from-purple-400 via-blue-600 to-teal-400"></div>
    </div>
</section>

<section class="w-full flex items-center justify-center text-slate-200">
    <div class="border border-orange-700 mt-10 w-3/5 p-4 bg-slate-800 rounded">
      <h1 class="flex items-center justify-center text-2xl">Gradient od prawego górnego rogu do lewego dolnego ↙️</h1>
      <h3 class="mt-4">class="bg-gradient-to-bl from-purple-400 via-blue-600 to-teal-400"</h3>
      <div class="mt-3 w-75 h-20 bg-gradient-to-bl from-purple-400 via-blue-600 to-teal-400"></div>
    </div>
</section>

<section class="w-full flex items-center justify-center text-slate-200">
    <div class="border border-orange-700 mt-10 w-3/5 p-4 bg-slate-800 rounded">
      <h1 class="flex items-center justify-center text-2xl">Gradient od lewego górny rogu do prawego dolnego ↘️</h1>
      <h3 class="mt-4">class="bg-gradient-to-br from-purple-400 via-blue-600 to-teal-400"</h3>
      <div class="mt-3 w-75 h-20 bg-gradient-to-br from-purple-400 via-blue-600 to-teal-400"></div>
    </div>
</section>

<section class="w-full flex items-center justify-center text-slate-200">
    <div class="border border-orange-700 mt-10 w-3/5 p-4 bg-slate-800 rounded">
      <h1 class="flex items-center justify-center text-2xl">Gradient od lewej do prawej ➡️</h1>
      <h3 class="mt-4">class="bg-gradient-to-r from-purple-400 via-blue-600 to-teal-400"</h3>
      <div class="mt-3 w-75 h-20 bg-gradient-to-r from-purple-400 via-blue-600 to-teal-400"></div>
    </div>
</section>

<section class="w-full flex items-center justify-center text-slate-200">
    <div class="border border-orange-700 mt-10 w-3/5 p-4 bg-slate-800 rounded">
      <h1 class="flex items-center justify-center text-2xl">Gradient od prawej do lewej ⬅️</h1>
      <h3 class="mt-4">class="bg-gradient-to-l from-purple-400 via-blue-600 to-teal-400"</h3>
      <div class="mt-3 w-75 h-20 bg-gradient-to-l from-purple-400 via-blue-600 to-teal-400"></div>
    </div>
</section>

<section class="w-full flex items-center justify-center text-slate-200">
    <div class="border border-orange-700 mt-10 w-3/5 p-4 bg-slate-800 rounded">
      <h1 class="flex items-center justify-center text-2xl">Gradient z góry do dołu ⬇️</h1>
      <h3 class="mt-4">class="bg-gradient-to-b from-purple-400 via-blue-600 to-teal-400"</h3>
      <div class="mt-3 w-75 h-20 bg-gradient-to-b from-purple-400 via-blue-600 to-teal-400"></div>
    </div>
</section>

<section class="w-full flex items-center justify-center text-slate-200">
    <div class="border border-orange-700 mt-10 w-3/5 p-4 bg-slate-800 rounded">
      <h1 class="flex items-center justify-center text-2xl">Gradient z dołu do góry ⬆️</h1>
      <h3 class="mt-4">class="bg-gradient-to-t from-purple-400 via-blue-600 to-teal-400"</h3>
      <div class="mt-3 w-75 h-20 bg-gradient-to-t from-purple-400 via-blue-600 to-teal-400"></div>
    </div>
</section>