<div class="container mt-5 border-2 border-red-500 text-blue-300">
    
    <div class="grid  grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">

        <div class="bg-white rounded-md px-4 py-4 border-2 border-midnight">
            <h2 class="tracking-widest text-xs mb-1">TEST 1</h2>
            <h1 class="title-font text-lg text-silver mb-3">Test 2</h1>
            <p class="leading-relaxed text-sm mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, eos pariatur consequatur quibusdam nisi nostrum doloribus soluta laudantium autem minus ipsam iusto, obcaecati facere perspiciatis mollitia error sit quod labore.</p>
            <button class="bg-midnight text-sm text-white rounded px-4 py-1">Klik</button>
        </div>

        <div class="bg-white rounded-md px-4 py-4 border-2 border-midnight">
            <h2 class="tracking-widest text-xs mb-1">TEST 1</h2>
            <h1 class="title-font text-lg text-silver mb-3">Test 2</h1>
            <p class="leading-relaxed text-sm mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, eos pariatur consequatur quibusdam nisi nostrum doloribus soluta laudantium autem minus ipsam iusto, obcaecati facere perspiciatis mollitia error sit quod labore.</p>
            <button class="bg-midnight text-sm text-white rounded px-4 py-1">Klik</button>
        </div>

        <div class="bg-white rounded-md px-4 py-4 border-2 border-midnight">
            <h2 class="tracking-widest text-xs mb-1">TEST 1</h2>
            <h1 class="title-font text-lg text-silver mb-3">Test 2</h1>
            <p class="leading-relaxed text-sm mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, eos pariatur consequatur quibusdam nisi nostrum doloribus soluta laudantium autem minus ipsam iusto, obcaecati facere perspiciatis mollitia error sit quod labore.</p>
            <button class="bg-midnight text-sm text-white rounded px-4 py-1">Klik</button>
        </div>

        <div class="bg-white rounded-md px-4 py-4 border-2 border-midnight">
            <h2 class="tracking-widest text-xs mb-1">TEST 1</h2>
            <h1 class="title-font text-lg text-silver mb-3">Test 2</h1>
            <p class="leading-relaxed text-sm mb-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, eos pariatur consequatur quibusdam nisi nostrum doloribus soluta laudantium autem minus ipsam iusto, obcaecati facere perspiciatis mollitia error sit quod labore.</p>
            <button class="bg-midnight text-sm text-white rounded px-4 py-1">Klik</button>
        </div>

    </div>

</div>